{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .error { color: red; }
    .menu_info { padding-top: 30px; }
</style>

<section class="example-wrapper">
    <a href="{{ path('registration') }}">Register</a>
    <h1>Login page</h1>
    <p>To use this feature you need to log in</p>
    {% if error %}
    	<span class="error">{{ error.messageKey }}</span>
    {% endif %}

    <form action="{{ path('login') }}" method="POST">
    	<input type="text" name="_username" value="{{ last_username }}" placeholder="Username here...">
    	<input type="password" name="_password">
    	<input type="submit" value="Login" class="btn btn-info">
    </form>
    <div class="menu_info">
        <p>Have your own, custom menu, with links you like in Gamekit admin panel.</p>
        <img src="https://i.imgur.com/xnoXBoq.png">
    </div>
</section>
{% endblock %}
