{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<section class="jumbotron">
    {{ error }}
    <a href="{{ path('login') }}">Login</a>
    <h1>Registration form</h1>

    {{ form(registration_form) }}
</section>
{% endblock %}
