
{% extends 'base.html.twig' %}

{% block title %}Promoted games - news list{% endblock %}

{% block body %}
<style>

</style>

<section class="jumbotron">
	<h1>Will add someday</h1>
</section>
{% endblock %}
